@model List<ProgramacionAvanzada.Web.Models.Job>

@{
    ViewBag.Title = "Lista de Trabajos";
}

<h2>Lista de Trabajos</h2>

<table class="table">

    <!-- Encabezado de la tabla -->
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Acciones</th>
    </tr>

    <!-- ForEach para enlistar los trabajos -->
    @foreach (var job in Model)
    {
        <!-- Convertimos el ID a tipo INT -->
        var idNum = int.Parse(job.Id);

        <!-- Se coloca condicional para asignar un CSS si es impar o par -->
        string clase = idNum % 2 == 0 ? "par" : "impar";

        <!-- Tabla que enlista los trabajos -->
        <tr class="@clase">

            <!-- Id del trabajo -->
            <td>@job.Id</td>

            <!-- Nombre del trabajo -->
            <td>@job.Name</td>
            <td>

                <!-- Descripcion del trabajo -->
                @job.Description

                <!-- Codicional para aplicar estilo al registro -->
                @if (idNum % 2 != 0)
                {
                    <strong> - ID Impar</strong>
                }
            </td>

            <!-- Fecha de creación del registro del trabajo -->
            <td>@job.DateCreated.ToShortDateString()</td>
            <td>

                <!-- Metodo Post Razor para eliminar  el trabajo-->
                @using (Html.BeginForm("Delete", "Job", new { id = job.Id }, FormMethod.Post))
                {
                    <!-- Boton eliminar trabajo -->
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                }
            </td>
        </tr>
    }
</table>

<!-- Boton de Agregar nuevo vehiculo -->
<a href="@Url.Action("Create", "Job")" class="btn btn-primary">Agregar Vehiculo</a>

<!-- Estilos de color para las lineas de ID impar o Par -->

<style>
    .par {
        background-color: mintcream;
    }

    .impar {
        background-color: palegreen;
    }
</style>

